source https://nuget.org/api/v2

framework: net40, net45
content: none
redirects: on

nuget json-ld.net
nuget GitLink
nuget StyleCopPlus.MSBuild
nuget GitVersionTask
nuget SpecFlow
nuget NullGuard.Fody
nuget NUnit < 3 
nuget MethodTimer.Fody
nuget dotNetRDF
nuget HtmlAgilityPack
nuget ImpromptuInterface
nuget InfoOf.Fody
nuget FakeItEasy
nuget ImpromptuInterface
nuget Costura.Fody
nuget eto.parse
nuget StyleCopPlus.MSBuild
nuget Rdf.Vocabularies
nuget OpenCover
nuget Newtonsoft.Json ~> 6

http http://www.w3.org/2013/N-QuadsTests/TESTS.zip TESTS.zip