source https://nuget.org/api/v2

framework: net40, net45
content: none
redirects: on

nuget json-ld.net
nuget GitLink
nuget StyleCop.Analyzers
nuget GitVersionTask
nuget SpecFlow
nuget NullGuard.Fody
nuget NUnit
nuget MethodTimer.Fody
nuget dotNetRDF
nuget HtmlAgilityPack
nuget InfoOf.Fody
nuget FakeItEasy
nuget ImpromptuInterface
nuget Costura.Fody
nuget Rdf.Vocabularies
nuget OpenCover
nuget Newtonsoft.Json ~> 9

gist tpluscode/a285267d2543466fc35c3a168c846f9f