<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="BD319B19EAF3B43A" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="FakeItEasy" publicKeyToken="eff28e2146d5fd2c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.25.1.0" newVersion="1.25.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="MethodTimer" publicKeyToken="cb1364609f40a1dc" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.15.2.0" newVersion="1.15.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.9.0.77" newVersion="1.9.0.77" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Portable.Runtime" publicKeyToken="96ab62c35eacf7af" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-0.1.0.0" newVersion="0.1.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="9.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>