<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="BD319B19EAF3B43A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
