source https://nuget.org/api/v2

nuget json-ld.net
nuget GitLink
nuget StyleCopPlus.MSBuild
nuget Zoltu.Versioning
nuget SpecFlow
nuget NullGuard.Fody
nuget NUnit
nuget MethodTimer.Fody
nuget dotNetRDF < 1.0.7
nuget HtmlAgilityPack == 1.4.6
nuget ImpromptuInterface
nuget InfoOf.Fody
nuget FakeItEasy
nuget ImpromptuInterface
nuget Costura.Fody
nuget eto.parse
nuget Nivot.StrongNaming

github tpluscode/FileVersionExtractor
http http://www.w3.org/2013/N-QuadsTests/TESTS.zip TESTS.zip