source https://nuget.org/api/v2

nuget json-ld.net
nuget GitLink
nuget StyleCopPlus.MSBuild
nuget Zoltu.Versioning
github tpluscode/FileVersionExtractor
nuget SpecFlow
nuget NullGuard.Fody
nuget NUnit
nuget MethodTimer.Fody
nuget dotNetRDF
nuget HtmlAgilityPack == 1.4.6
nuget ImpromptuInterface
nuget InfoOf.Fody
nuget FakeItEasy